<div class="d-flex justify-content-between align-items-center my-3">
    <div>
        <span style="font-size: 36px; font-weight: 600; margin-bottom: -8px;" class="d-block">
            <ng-container *ngIf="(remainingBudgetFormatted$ | async) as remainingBudget; else loading">
                {{ remainingBudget }} €
            </ng-container>
            <ng-template #loading>Laden...</ng-template>
        </span>
        <span class="text-muted" style="font-size: 14px;">übrig für {{utilsService.getMonthName(currentMonth)}}</span>
    </div>
    <div class="dropstart">
        <button class="dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" id="dropdownMenuButton"
            style="height: 45px; width: 45px; background-color: black; border-radius: 45px;"></button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="signOut()" href="#">Abmelden</a>
        </div>
    </div>
</div>