<div class="position-fixed bg-white w-100 h-100" style="top: 0; left: 0; transition: transform .2s ease-out;" [style]="{'transform': !opened ? 'translateY(100%)' : 'translateY(0%)'}">
    <div class="w-100 h-50 d-flex flex-column" style="position: fixed; top: 0; left: 0;" [ngClass]="{'pe-none invisible': selectedPage !== 0}">
        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <span>Betrag</span>
                <app-currency-input [(value)]="amountInputValue"></app-currency-input>
            </div>
        </div>
        <div class="d-flex justify-content-between p-3">
            <button class="btn text-primary rounded" (click)="close()">Abbrechen</button>
            <button class="btn btn-primary rounded" (click)="selectedPage = 1">Weiter</button>
        </div>
    </div>
    <div class="w-100 h-50 d-flex flex-column" style="position: fixed; top: 0; left: 0;" [ngClass]="{'pe-none invisible': selectedPage !== 1}">
        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <span>Bezeichnung</span>
                <input [(ngModel)]="nameInputValue" placeholder="Bezeichnung für Ausgabe..." (input)="handleNameInput($event)" class="form-control" type="text" />
            </div>
        </div>
        <div class="d-flex justify-content-between p-3">
            <button class="btn text-primary rounded" (click)="selectedPage = 0">Zurück</button>
            <button class="btn btn-primary rounded" (click)="selectedPage = 2">Weiter</button>
        </div>
    </div>
    <div class="w-100 h-100 d-flex flex-column" style="position: fixed; top: 0; left: 0;" [ngClass]="{'pe-none invisible': selectedPage !== 2}">
        <div class="flex-grow-1 d-flex align-items-center justify-content-center w-100">
            <div class="text-center w-100">
                <span>Kategorie</span>
                <app-category-select [(selected)]="catecoryValue"></app-category-select>
            </div>
        </div>
        <div class="d-flex justify-content-between p-3">
            <button class="btn text-primary rounded" (click)="selectedPage = 1">Zurück</button>
            <button class="btn btn-primary rounded" (click)="submit()">Fertig</button>
        </div>
    </div>
</div>