<div style="touch-action: manipulation;" [ngStyle]="{'filter': this.expense.id.startsWith('#') ? 'brightness(.5)' : '', 'pointer-events': this.expense.id.startsWith('#') ? 'none' : 'auto'}" class="w-100 overflow-hidden rounded d-flex mb-1 position-relative" (click)="handleClick($event)">
    <i [style]="{'transform': 'translateX(calc(-50% + ' + (transformX / 2) + 'px - 3px)) translateY(-50%)'}" #deleteIcon
        class="fa-solid fa-trash text-white"
        style="position: absolute; left: 0; top: 50%; z-index: 99; transform: translateX(-50%) translateY(-50%); transition: opacity .2s ease-out; opacity: 0, opacity .2s ease-out, font-size .2s ease-out; opacity: 0;"></i>
    <div #deleteDiv class="w-100 flex-shrink-0" style="padding: 0 6px; width: calc(100% + 12px)!important;"
        [style]="{'transform': 'translateX(calc(' + (transformX) + 'px - 100%))'}">
        <div class="bg-danger w-100 h-100 rounded">
        </div>
    </div>
    <div #myElement class="w-100 border bg-dark border-dark rounded flex-shrink-0" style="padding: 12px 0;"
        [style]="{'transform': 'translateX(calc(' + (transformX) + 'px - 100% - 12px))'}">
        <div class="d-flex align-items-center">
            <div [style]="{'background-color': '#' + utilsService.getCategoryColor(expense.category)}"
                style="margin-left: -1px; height: 28px; width: 8px; background-color: black; border-top-right-radius: 5px; border-bottom-right-radius: 5px;">
            </div>
            <div class="px-2">
                <span style="font-size: 16px; margin-bottom: -4px;" class="d-block">{{expense.name}}</span>
                <span class="text-muted" style="font-size: 14px;"><span
                        style="text-transform: capitalize;">{{expense.category.toLowerCase()}}</span> •
                    {{utilsService.getReadableDate(expense.date)}}</span>
            </div>
            <div class="flex-grow-1"></div>
            <div class="flex-shrink-0">
                <span class="px-3" [class.green]="expense.isIncome">{{utilsService.formatCurrency(expense.amount)}} €</span>
            </div>
        </div>
    </div>
    <div #editDiv class="w-100 flex-shrink-0" style="padding: 0 6px; width: calc(100% + 12px)!important;"
        [style]="{'transform': 'translateX(calc(' + (transformX) + 'px - 100%))'}">
        <div class="bg-primary w-100 h-100 rounded"></div>
    </div>
    <i [style]="{'transform': 'translateX(calc(50% + ' + (transformX / 2) + 'px + 3px)) translateY(-50%)'}" #editIcon
        class="fa-solid fa-pen text-white"
        style="position: absolute; right: 0; top: 50%; z-index: 99; transform: translateX(-50%) translateY(-50%); transition: opacity .2s ease-out; opacity: 0, opacity .2s ease-out, font-size .2s ease-out; opacity: 0;"></i>
</div>