<div class="position-fixed bg-white w-100 h-100" style="top: 0; left: 0; transition: transform .2s ease-out;" [style]="{'transform': !openend ? 'translateY(100%)' : 'translateY(0%)'}">
    <div class="w-100 h-50 d-flex flex-column" style="position: fixed; top: 0; left: 0;">
        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <span>Budget</span>
                <app-currency-input [value]="budget ?? 0" (valueChange)="onBudgetChange($event)"></app-currency-input>
            </div>
        </div>
        <div class="d-flex justify-content-between p-3">
            <button class="btn text-primary rounded" (click)="close()">Abbrechen</button>
            <button class="btn btn-primary rounded" (click)="submit()">Speichern</button>
        </div>
    </div>
</div>