.border-light {
    border-color: #333 !important;
}

.border-dark {
    border: 1px solid hsla(0, 0%, 100%, 0.1)!important;
}

.rounded {
    border-radius: 10px !important;
}

.text-muted{
    color: #7e7e7e!important;
}

.btn-tab{
   background-color: hsla(216, 100%, 40%, 0.1)!important;
   color: rgb(92, 154, 248)!important; 
}

.border-tab{
    border-color: hsla(217, 90%, 11%, 100%)!important;
}

.btn-fab {
    background-color: hsla(216, 100%, 40%, 100%)!important;
    color: #D9D9D9!important;
}

.bg-dark {
    background-color: hsl(0, 0%, 4%)!important;
}

.text-light {
    color: #D9D9D9!important;
}

.font-weight-bold {
    font-weight: 700!important;
}

.bg-black {
    background-color: #000!important;
}

.placeholder-muted {
    color: #D9D9D9!important;
}

.placeholder-muted::placeholder {
    color: #5B5B5B!important;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #000;
    color: #D9D9D9!important;
}